@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <nav>
            <div class="logo">
                <img src="images/mahaw-logo.png" alt="MAHAW Logo" />
            </div>
            
            <NavLink href="/" class="nav-item">
                <i class="fa-solid fa-house"></i>
                Home
            </NavLink>
            
            <NavLink href="/medication-registry" class="nav-item">
                <i class="fa-solid fa-address-card"></i>
                Medication Registry
            </NavLink>
            
            <NavLink href="/reminder" class="nav-item">
                <i class="fa-solid fa-bell"></i>
                Reminder
            </NavLink>
            
            <NavLink href="/interaction-checker" class="nav-item">
                <i class="fa-brands fa-intercom"></i>
                Interaction Checker
            </NavLink>
            
            <NavLink href="/health-tips" class="nav-item">
                <i class="fa-solid fa-notes-medical"></i>
                Health Tips and Articles
            </NavLink>
        </nav>
    </div>
    
    <main class="main-content">
        @Body
    </main>
</div>
