@page "/"
@using MahawMedicineApp.Shared

<PageTitle>MAHAW - Stay Informed. Stay Healthy.</PageTitle>

<div class="hero-section">
    <div class="heading-container">
        <div class="search-container">
            <input type="text" placeholder="Search for medicines..." class="search-input" />
            <button>Search</button>
        </div>

        <div class="user-log">
            <button>Register</button>
            <button>Sign In</button>
        </div>
    </div>
    <div class="mahaw-line">
        <div class="mahaw-text">
            <h1>STAY INFORMED.</h1>
            <h1>STAY HEALTHY.</h1>
            <p>Find accurate information on thousands of medicines, including usage, side effects, and precautions.</p>
        </div>
        
        <div class="drug-search">
            <h3>A-Z Drug Search</h3>
            <AZSearch />
        </div>
    </div> 

</div>