:root {
    --primary-color: #ebd078;
    --secondary-color: #7abf8b;
    --ternary-color: #d1ecbf;
    --background-color: #f5edd5;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: var(--primary-color);
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.page .sidebar .nav-item i{
    color: rgb(255, 251, 245);
    padding: 10px;
}

.page .sidebar .logo img{
    width: 250px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

.nav-item {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: var(--ternary-color);
}

.nav-item img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.hero-section {
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.hero-section .heading-container {
    display: flex;    
}

.hero-section .heading-container .search-container {
    flex-grow: 8;
}

.hero-section .heading-container .search-container .search-input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.hero-section .mahaw-line {
    display: flex;
    padding: 10%;
    justify-content: space-between;
}

.hero-section .mahaw-line .mahaw-text h1 {
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 4rem;
}


.hero-section .search-container button {
   background-color: var(--ternary-color);
   border: none;
   border-radius: 50px;
   padding: 0.5rem;
   padding-left: 0.75rem;
   padding-right: 0.75rem;
   transition: background 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1)
}

.hero-section .search-container button:hover {
    background: linear-gradient(90deg, #feee9c, #ecc674, #8cc195, #e9f2f7);
    background-size: 200%;
}

.hero-section .user-log button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    transition: background 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1)
}

.hero-section .user-log button:hover {
    background: linear-gradient(90deg, #a9da9b, #ecc674, #ffffff, #e0ffd6);
    background-size: 200%;
}
/* A-Z Search*/

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-content: center;
    max-width: 400px;
    margin: auto;
    padding: 10px;
}

.letter-btn {
    background-color: #d4af89;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.letter-btn:hover {
    background-color: #b88c65;
}

h3, h4 {
    text-align: center;
}



